/* override default form group margin */
.card.ticketPanel{
  text-align: center;
}

.form-group.ticketInput {
  margin-bottom: 0px;
}

.card-title.username {
  font-weight: bold;
  font-size: 32px;
}

.card-title.help {
  font-size: 24px;
}

.button.button {
  font-weight: bold;
}
